* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #555555;
}
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 71px;
  color: #777777;
  z-index: 100;
  box-shadow: 0 1px 10px #d7d7d7;
}
.logo {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo a {
  line-height: 60px;
}
.logo-link h2, .logo-link img{
  color: #D90845;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-left: 10px;
}
.logo-link img {
  position: relative;
  top: 8px;
}
.menu-link-container {
  display: flex;
  padding: 22px;
  align-items: center;
  justify-content: flex-end;
}
.menu-link, .menu-link-no-icon {
  color: #777777;
  padding: 5px;
  line-height: ;
}
.menu-link img {
  position: relative;
  top: 4px;
  margin-left: 0;
}
.menu-link-no-icon {
  position: relative;
  top: 1px;
}
.banner {
  margin-top: 71px;
}
.banner img {
  width: 100%;
  margin-bottom: -5px;
}
section {
  padding: 30px 0;
}
section:nth-child(odd), footer{
background-color: #f7f7f7;
}
section > div{
  max-width: 1200px;
  margin: auto;
}
.section-title, .no-under-line {
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}
.section-title h2:after{
  content: '';
  display: block;
  height: 3px;
  background-color: #D90845;
  width: 80px;
  margin:20px auto;
}
.feature-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feature {
  width: 250px;
  text-align: center;
  padding: 8px 15px;
}
.feature h3, .feature p {
  margin: 8px 0;
}
.feature p {
  color: #333333;
}
.feature-container h3 {
  font-size: 24px;
}
.class-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.class-info {
  width: 343px;
  height: 100%;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
  margin: 15px;
  box-sizing: border-box;
  outline: #999999 solid 1.5px;
  position: relative;
  transition: .2s all;
}
.class-info:hover {
  box-shadow: 0 5px 20px #d7d7d7;
  transform: translateY(-5px);
  /* top: -5px; */
}
.class-info h3, .class-info p, .class-start-time{
  margin: 35px 20px;
  margin-bottom: 5px;
  text-align: left;
  color: #666666;
}
.class-info p, .class-start-time {
  font-size: 14px;
  color: #999999;
}
.class-info h3 + p:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #999999;
  width: 300px;
  margin: auto;
  position: relative;
  top: 15px;
}
div.see-more {
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}
button {
  width: 250px;
  height: 60px;
  border: none;
  background-color: #D90845;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 4px 12px;
  cursor: pointer;
}
button:hover {
  background-color: #cd3151;
}
.recommend-wrap {
  margin: auto;
  margin-bottom: 50px;
  max-width: 750px;
  padding: 10px;
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.recommend-wrap * {
  margin: 10px 0px;
} 
.recommend-wrap img {
  border-radius: 100%;
}
.recommend-wrap p {
  max-width: 600px;
}
p.recommend-name {
  color: #D90845;
  font-size: 24px;
  font-weight: 500;
}
p.recommend-title {
  color: #888888
}
.page-circle ul {
  display: flex;
  justify-content: center;
}
.page-circle li {
  width: 8px;
  height: 8px;
  background-color: #d7d7d7;
  border-radius: 100%;
  margin: 4px;
}
.page-circle li:nth-child(1) {
  background-color: #D90845;
}
.section-title h2:after{
  content: '';
  display: block;
  height: 3px;
  background-color: #D90845;
  width: 80px;
  margin:20px auto;
}
.know-us-more p{
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}
.know-us-more a {
  color: #D90845;
}
.sns-icon {
  text-align: center;
  /* border-radius: 100%; */
}
.sns-icon img{
  margin: 20px;
  border-radius: 100%;
}
.last-section > div {
  display: flex;
  justify-content: space-between;
}
.contact-info {
  width: 300px;
  margin: 15px 30px;
}
.contact-icon-and-link {
  margin: 10px 0;
}
.contact-icon-and-link a{
  color: #888888;
  font-size: 13px;
}
.contact-icon-and-link img {
  position: relative;
  top: 3px;
}
.site-map-wrap {
  display: flex;
}
.site-map {
  font-size: 13px;
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 10px;
}
.site-map a, .site-map h3 {
  margin: 5px 0;
  color: #333333;
}
.site-map a {
  color: #888888;
}
.sns-icon-and-link {
  display: flex;
  align-items: center;
}
.sns-icon-and-link img {
  margin-right: 5px;
}
footer {
  padding: 20px;
  
}
.footer-content {
  max-width: 1200px;
  border-top: #e7e7e7 solid 1px;
  margin: auto;
  text-align: center;
  padding: 30px 0;
  font-size: 12px;
  color: #888888;
}
.float-button {
  position: fixed;
  max-width: 100px;
  bottom: 32px;
  right: 32px;
  text-align: right;
}
.float-button a {
  display: inline-block;
  margin-top: 15px;

}
.float-button img {
  box-shadow: 0 4px 10px #ca9da247;
  border-radius: 100%;
}
.banner  {
  position: relative;
}
.banner-circle {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.banner-circle ul {
  display: flex;
  justify-content: center;
}
.banner-circle li {
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 100%;
  border: 1px #d7d7d7 solid;
}
.banner-circle li:nth-child(1) {
  background-color: #D90845;
}
.menu-link:hover, .menu-link-no-icon:hover, .site-map a:hover, .contact-icon-and-link a:hover {
  color: #D90845;
}
.red-tag {
  background-color: #D90845;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 210px;
  border-radius: 4px;
  margin: 0 20px;
  padding: 4px 6px;
}
.class-start-time {
  position: relative;
}
.grey-tag {
  background-color: #e6e6e6;
  color: #666666;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  padding: 4px 6px;
  border-radius: 4px;
  top: -5px;
  left: 70px;
}